.banner {
  text-align: center;
  margin: 125px 0 50px 0;
  height: 120px;
}

.banner > p {
  margin-bottom: 0;
}

.explanation-shell {
  margin-bottom: 50px;
  text-align: left;
}

.explanation {
  border: 10px solid lightblue;
  letter-spacing: 0;
}

.explanation p {
  margin-bottom: 0;
  padding: 10px;
}

footer {
  text-align: center;
}

footer li {
  display: inline-block;
  margin: 0;
}

ul.class_links {
  width: 100%;
  margin-bottom: 50px;
}

ul li {
  width: 30%;
}

.calendar {
  margin-top: 75px;
  text-align: center;
}

.home_link {
  float: right;
}

footer div {
  width: 100%;
}

