.banner > p {
  line-height: 1.1em;
}

a {
  text-decoration: none;
}

footer ul li a {
  font-size: 3em;
}

footer ul li {
  font-family: 'Nunito', sans-serif;
}

footer div a {
  font-size: 3em;
}

.suggestions{
  font-family: 'Nunito', sans-serif;
}
